@font-face {
  font-family: "DMSerif-700";
  src: url(../font/DMSerifDisplay-Regular.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "DMSerif-regular";
  src: url(../font/DMSerifDisplay-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PubliSans-Bold-700";
  src: url(../font/PublicSans-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "PublicSans-400";
  src: url(../font/PublicSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "RobotoMono-400";
  src: url(../font/RobotoMono-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
