// $PublicSansBold: "publicsans";
// $DMSerifDisplayRegular: "dm-serif-400";
// $PublicSansRegular: "public-sans-400";
// $RobotoMonoRegular: "roboto-mono-400";
// $red: red;
$DMserif: "Serif-Regular";
$PuplicBold: "PublicSans-Bold";
$PuplicRegular: "PublicSans-Regular";
$Roboto: "Roboto-Regular";
// color
$darkpink70: #ba4270;
$whiteFE: #fbfcfe;
$juanblue6B: #36536b;
$mirajblue2F: #1b262f;
$charmpink97: #da6d97;
$lightjuanblue94: #6c8294;
