$DMserif: "Serif-Regular";
$PuplicBold: "PublicSans-Bold";
$PuplicRegular: "PublicSans-Regular";
$Roboto: "Roboto-Regular";
// colors
$pink: #ba4270;
$whiteFB: #fbfcfe;
$juanblue36: #36536b;
$mirajblue1b: #1b262f;
$charmpinkda: #da6d97;
$lightjuanblue6c: #6c8294;
